<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.BlogBackEnd.mapper.CommentMapper">
    <select id="queryCommendListByBlogId" resultType="com.BlogBackEnd.model.CommentBean">
        SELECT * from comment where blogid = #{blogId}
    </select>

    <insert id="addComment" parameterType="com.BlogBackEnd.model.CommentVO">
        INSERT INTO comment (authorid, blogid, comment) VALUES (#{authorId}, #{blogId}, #{comment})
    </insert>

    <update id="updateComment" parameterType="com.BlogBackEnd.model.CommentVO">
        UPDATE comment SET comment = #{comment} where cmtid = #{cmtId}
    </update>
</mapper>